<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About BedTime Story</title>
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <!-- Link to your custom CSS file -->
    <link href="styles.css" rel="stylesheet">
</head>

<body class="bg-gray-100" id="about">
    <!-- Navigation Bar -->
    <nav class="bg-indigo-600">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex items-center justify-between h-16">
                <!-- Logo -->
                <div class="flex">
                    <img src="images/logo.png" alt="App Logo" class="h-8">
                    <a href="index.html" class="text-white font-bold text-xl px-5">BedTime Story</a>
                </div>
                <!-- Menu -->
                <div class="md:block">
                    <div class="ml-10 flex items-baseline space-x-4">
                        <a href="index.html" class="text-white hover:bg-indigo-700 hover:text-white px-3 py-2 rounded-md text-xl font-medium ">Home</a>
                        <a href="about.html" class="text-white hover:bg-indigo-700 hover:text-white px-3 py-2 rounded-md text-xl font-medium">About</a>
                        <button id="nightModeToggleabout" class="text-white hover:bg-indigo-700 hover:text-white px-3 py-2 rounded-md text-xl font-medium">Night Mode</button>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="container mx-auto py-10">
        <h1 class="text-3xl font-semibold text-center mb-5">About BedTime Story (BS)</h1>
        <p class="text-lg text-gray-800 leading-relaxed mt-4">

            - Welcome to <b>BS</b> (BedTime Story), where creativity meets storytelling in a whole new way! Our innovative application brings together the power of images and words to craft captivating narratives that span a spectrum of emotions.
            <br>
            <br>
            - With <b>BS</b>, you can effortlessly collect multiple images and generate captivating captions for each one. But we don't stop there! Our unique feature allows you to seamlessly blend these generated captions into a cohesive story, infused with various moods such as humor, melancholy, excitement, and more.
            <br>
            <br>
            - Whether you're looking to ignite laughter, tug at heartstrings, or simply express yourself in a new light, <b>BS</b> empowers you to create immersive stories that resonate with your audience. Unleash your imagination, unleash the storyteller within, with <b>BS</b>.
            
            <div class="mt-4">
                <b class="block mb-2">Tech Stacks Used:</b>
                <ul class="list-disc pl-4">
                    <li>Frontend: TailwindCSS (CSS FrameWork)</li>
                    <li>Backend: FastAPI (Python FrameWork)</li>
                    <li>Machine Learning: PyTorch (Python FrameWork)</li>
                </ul>
            </div>
            
        -> Explore our codebase on GitHub  </a> - <a href="https://github.com/nexossama/Image-Captioning-with-Attention-Mechanism" class="text-blue-500 underline">here</a>
            
            

        </p>
        <div class="mt-8">
            <h2 class="text-xl font-semibold text-gray-800 mb-2">Authors</h2>
            <ul class="list-disc pl-5">
                <li><a href="https://www.linkedin.com/in/aymane-maghouti-86959a24a/">Maghouti Aymane (Data and Software Engineer) </a> - <a href="https://www.linkedin.com/in/aymane-maghouti-86959a24a/" class="text-blue-500 underline">LinkedIn</a></li>
                <li><a href="https://www.linkedin.com/in/ossama-outmani/">Outmani Ossama (Data and ML Engineer) </a> - <a href="https://www.linkedin.com/in/ossama-outmani/" class="text-blue-500 underline">LinkedIn</a></li>
            </ul>
        </div>
    </div>

     <!-- Footer -->
     <footer class="bg-gray-800 py-6">
        <div class="container mx-auto text-center text-gray-400">
            <p class="text-sm">&copy; 2024 BedTime Story | All rights reserved.</p>
            <div class="mt-2">
            </div>
        </div>
    </footer>

    <!-- Include JavaScript file -->
    <script src="scripts2.js"></script>
</body>

</html>
